<% include ./header %>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" style="height:550px">
    <div class="carousel-item active" data-interval="2000">
      <img src="https://images.pexels.com/photos/390089/film-movie-motion-picture-390089.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="bg-dark display-1" style="margin-bottom:550px">Welcome to Movie Manager</h1>
      </div>
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="https://images.pexels.com/photos/1117132/pexels-photo-1117132.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="bg-dark display-1" style="margin-bottom:450px">Let's Manage Your Movie</h1>
      </div>
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="https://images.pexels.com/photos/65128/pexels-photo-65128.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="bg-dark display-1" style="margin-bottom:500px">And Get Released!</h1>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
